<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ProductSuite"> <test name="ProductTesting">
    <classes>
      <class name="tests.PDHS"/>
      <class name="tests.RHS"/>
      <class name="tests.LIHS"/>
    </classes>
  </test>
</suite>